{% include "user/header.html" %}
 <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Add My Product</h1>

                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-8">
                                <div class="card bg-dark shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center text-white font-weight-light my-4">Add My Product</h3></div>
                                    <div class="card-body">
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p class="text-center" style="color:red;font-weight:600;">{{ message }}</p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        <form action="{{ url_for('admin_add_product') }}" method="post" style="color: white;">
                                            <div class="form-group mb-3">
                                                <label style="margin-bottom: 5px;" for="url"><strong>Enter URL :</strong></label>
                                                <input name="url" type="url" class="form-control" id="url" pattern="https://www.amazon.+" title="URL must start with https://www.amazon." placeholder="E.g. https://www.amazon.in/TP-Link-Archer-C6-Wireless-MU-MIMO/dp/B07GVR9TG7/?_encoding=UTF8&pd_rd_w=oK4wU&pf_rd_p=e60c70f0-0541-4ba5-b6fc-ada95198a5fe&pf_rd_r=4GV9BZW8JRV2C4JAFA2Z&pd_rd_r=c322c340-953c-415c-8155-d6ce7d1a8177&pd_rd_wg=PobYL&ref_=pd_gw_crs_zg_bs_976392031" required>

                                              </div>
                                            <div class="d-flex align-items-center justify-content-center mt-5 mb-2">

                                                <button type="submit" id="change_password" class="btn btn-primary">Add</button>
                                            </div>
                                          </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </main>
{% include "user/footer.html" %}